/* 색상 변수 */
:root {
  --color-primary: #a3daff;
  --color-primary-hover: #1ec0ff;
  --color-primary-light1: rgba(163, 218, 255, 0.5);
  --color-primary-light2: rgba(163, 218, 255, 0.3);
  --color-primary-light3: rgba(163, 218, 255, 0.15);
  --color-primary-light4: rgba(163, 218, 255, 0.07);
  --color-secondary: #03a6ff;
  --color-secondary-hover: #0080ff;
  --color-secondary-light1: rgba(3, 166, 255, 0.5);
  --color-secondary-light2: rgba(3, 166, 255, 0.3);
  --color-secondary-light3: rgba(3, 166, 255, 0.15);
  --color-secondary-light4: rgba(3, 166, 255, 0.07);

  --color-supporting: #555;
  --color-supporting-hover: #3b3b3b;
  --color-supporting-light1: rgba(80, 80, 80, 0.5);
  --color-supporting-light2: rgba(80, 80, 80, 0.3);
  --color-warning: #f8626c;
  --color-warning-hover: #d8424c;
  --color-support2: #a9d0f5;

  --color-ui-background: #fbfbfb;
  --color-ui-icon-background: #f5f5f5;
  --color-ui-gray-background: #dfdfdf;
  --color-ui-gray-background-light: #f8f8f8;
  --color-ui-shadow: #cdcdcd;
  --color-ui-shadow-light: #d0d0d0;

  --color-line-01: #f0f0f0;
  --color-line-02: #e6e6e6;
  --color-line-03: #e1e1e1;
  --color-line-04: #555;

  --color-font-placeholder: #888;
  --color-font: #409eff;
  --color-font-red: #f8626c;
  --color-font-gray: #999;
}

@font-face {
  font-family: 'SDMiSaeng';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'D2Coding';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 초기화 */
body,
div,
dl,
dt,
dd,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button {
  margin: 0;
  padding: 0;
}

body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--color-font-blue);
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 35.1px;
}
h4 {
  font-size: 30px;
}
h5 {
  font-size: 24.9px;
}

h6 {
  font-size: 20.1px;
}

p {
  width: fit-content;
}

img {
  width: 100%;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 15px 0px var(--color-ui-shadow);
  border-radius: 10px;
}

pre {
  box-sizing: border-box;
  padding: 0.5em;
  line-height: 1.5;
  border: solid 1px var(--color-line-04);
  background-color: var(--color-primary-light3);
  margin: 0.5em 0;
}

code {
  box-sizing: border-box;
  outline: none;
  border: none;
  font-size: 85%;
  padding: 0.2em 0.4em;
  background-color: var(--color-primary-light2);
}

header {
  display: flex;
  position: relative;
  width: 100vw;
  height: 6vh;
  padding: 0 5px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  background-color: var(--color-ui-background);
  border-bottom: solid 1px var(--color-line-03);
}

textarea {
  font-family: 'D2coding';
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
}

.ico {
  font-size: 0;
}

.title {
  width: 100px;
  color: var(--color-font);
  border: none;
  outline: none;
  background-color: transparent;
  text-align: center;
  font-family: 'SDMiSaeng';
  font-size: 1.3rem;
}

.content {
  display: flex;
  width: 100%;
  height: 94vh;
}

.editor-wrapper {
  position: relative;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  border-right: solid 1px var(--color-line-03);
}

.editor-wrapper.on-drag > .edit-area {
  background: no-repeat center url('../assets/swap.svg');
  background-size: 80px;
}

.edit-area {
  box-sizing: border-box;
  font-size: 1.2em;
}

#editor-close {
  display: none;
}

.slide-wrapper {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: var(--color-ui-gray-background-light);
  font-size: 18px;
  overflow-y: auto;
}

.bt-slide {
  position: relative;
  font-size: 30px;
  overflow: hidden;
  padding: 15px 30px;
  box-sizing: border-box;
}

.bt-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  padding: 30px;
  box-sizing: border-box;
  background-color: white;
}

.floating-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.75vw;
  height: 3.75vw;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 2px var(--color-ui-shadow);
  z-index: 30;
}

.presentation {
  bottom: 10px;
  right: 10px;
  border: solid 1px var(--color-primary-light1);
  background-color: var(--color-primary);
}

.presentation > span {
  background-image: url('../assets/presentation.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 50%;
}

.presentation:hover {
  background-color: var(--color-primary-hover);
}

.editor-open {
  display: none;
  bottom: 80px;
  right: 10px;
  background-color: var(--color-support2);
}

.editor-open > span {
  background-image: url('../assets/edit.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 50%;
}

.slide-btn {
  position: absolute;
  width: 5vw;
  min-width: 50px;
  height: 5vw;
  min-width: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: var(--color-supporting);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
  opacity: 0.03;
}

.slide-btn:hover {
  background-color: var(--color-primary);
  opacity: 0.5;
}

.slide-panel {
  width: 100%;
  height: 100%;
}

.prev {
  left: 1em;
  top: 50%;
  background-image: url('../assets/left.svg');
}

.next {
  top: 50%;
  right: 1em;
  background-image: url('../assets/right.svg');
}

.hide {
  display: none !important;
}

.editor-reset {
  position: absolute;
  top: 10px;
  right: 10px;
  background: no-repeat center url('../assets/material/trash.svg');
  background-size: 30px;
  font-size: 0;
  padding: 15px;
}

header > .menu-open {
  display: flex;
  width: 6vh;
  height: 6vh;
  justify-content: center;
  align-items: center;
  outline: none;
  transition: background-color 0.15s ease-in-out;
}

header > .menu-open:hover {
  background-color: var(--color-primary-light1);
}

header > .menu-open > span {
  padding: 2vh;
}

header > .sign-in {
  position: relative;
}

header .sign-in-btn {
  outline: none;
  border: none;
  background-color: var(--color-secondary);
  font-size: 15px;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  padding: 6px 12px;
  transition: background-color ease-in-out 0.15s;
}

header .sign-in-btn:hover {
  background-color: var(--color-secondary-hover);
}

header .out {
  background-color: var(--color-warning) !important;
}

header .out:hover {
  background-color: var(--color-warning-hover) !important;
}

.sign-in > .oauth-list {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  margin: 0;
  margin-top: 10px;
  padding: 10px 15px;
  list-style: none;
  background-color: white;
  border: solid 1px var(--color-line-02);
  border-radius: 5px;
}

.sign-in > .oauth-list.open {
  display: block;
}

.oauth-list::after {
  position: absolute;
  content: '';
  top: -10px;
  right: 10px;
  width: 30px;
  height: 10px;
  background: no-repeat center / cover url('../assets/etc/sign-in-hat.svg');
  z-index: 5;
}

.sign-in > .oauth-list > li {
  padding: 5px 0;
}

.oauth-btn {
  width: 220px;
  padding: 7px 22px;
  font-size: 15px;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}

.oauth-btn.google {
  border: solid 1px var(--color-line-03);
}

.oauth-btn.google:hover {
  background-color: var(--color-line-03);
}

.oauth-btn.google > .oauth-name > span[data-color='blue'] {
  color: #4285f4;
}

.oauth-btn.google > .oauth-name > span[data-color='red'] {
  color: #db4437;
}

.oauth-btn.google > .oauth-name > span[data-color='yellow'] {
  color: #f4b400;
}

.oauth-btn.google > .oauth-name > span[data-color='green'] {
  color: #0f9d58;
}

.oauth-btn.github {
  background-color: #24292e;
  color: white;
}

.oauth-btn.github:hover {
  background-color: #393e44;
}

.oauth-name {
  font-size: 20px;
  font-weight: bold;
}

.oauth-list .close {
  width: 220px;
  text-align: right;
  padding: 0 5px;
  font-size: 14px;
  font-weight: bold;
  color: var(--color-font-gray);
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}

.oauth-list .close:hover {
  color: var(--color-secondary);
}

.home-ico {
  background: no-repeat center / cover url('../assets/logo.svg');
}

.close-ico {
  background: no-repeat center / cover url('../assets/material/close.svg');
}

.doc-ico {
  background: no-repeat center / cover url('../assets/material/document.svg');
}

.load-ico {
  background: no-repeat center / cover url('../assets/material/load.svg');
}

.save-ico {
  background: no-repeat center / cover url('../assets/material/save.svg');
}

.help-ico {
  background: no-repeat center / cover url('../assets/material/help.svg');
}

.setting-ico {
  background: no-repeat center / cover url('../assets/material/settings.svg');
}

.out-ico {
  background: no-repeat center / cover url('../assets/material/sign-out.svg');
}

.loading {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: 'SDMiSaeng';
  font-size: 4rem;
  font-weight: 600;
  margin: auto;
  justify-content: center;
  align-items: center;
}
