.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 30;
  background-color: rgba(32, 32, 32, 0.5);
  text-align: center;
}

.modal .container {
  border-radius: 10px;
  padding: 32px 40px 24px;
}

.modal .header {
  width: 100%;
  min-height: 36px;
  font-size: 20px;
  font-weight: bold;
  box-sizing: border-box;
}

.modal .header > p {
  width: 100%;
  height: 100%;
}

.modal .body {
  width: 100%;
  height: calc(100% - 72px);
  overflow: hidden;
}

.modal .footer {
  display: flex;
  width: 100%;
  min-height: 36px;
  text-align: center;
}

.modal .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  line-height: 0;
  background: no-repeat center url('../assets/close.svg');
}

.modal .btn {
  width: 80px;
  height: 40px;
  padding: 6px 12px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

.modal .warning {
  background-color: #ff4444;
}

.modal .warning:hover {
  background-color: #cc0000;
}

.modal .info {
  background-color: #33b5e5;
}

.modal .info:hover {
  background-color: #0099cc;
}

.modal ul {
  margin: 0;
  padding: 0;
}

.modal .doc-list {
  height: 95%;
  overflow: auto;
  margin: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.modal .doc-list::-webkit-scrollbar {
  display: none;
}

.modal .doc-item {
  position: relative;
  padding: 5px 3px;
  border-bottom: solid 3px #cccccc;
}

.modal .doc-item:hover {
  background-color: #eeeeee;
}

.modal .doc-item .doc-title {
  width: 100%;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

.modal .doc-item .remove-doc {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  padding: 0.5rem;
}

.modal .doc-info {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.modal .doc-info .doc-timestamp {
  color: #999999;
}

.modal .doc-info .doc-id {
  color: #cccccc;
}

/* Reactive CSS PC Mode*/

@media all and (min-width: 769px) {
  .modal > .container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 480px; /* 4 : 3 */
    height: 360px;
    border: none;
    background-color: white;
    overflow: hidden;
    vertical-align: middle;
    text-align: left;
  }
}

/* Reactive CSS Phone Mode */

@media all and (max-width: 768px) {
  .modal > .container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    border: none;
    background-color: var(--color-ui-background);
    overflow: hidden;
    vertical-align: middle;
    text-align: left;
    box-sizing: border-box;
  }
}

@media all and (max-width: 425px) {
  .modal .doc-item .doc-title {
    font-size: 16px;
  }

  .modal .doc-info {
    font-size: 12px;
  }

  .modal .doc-info .doc-id {
    display: none;
  }
}
