.btn {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn--secondary {
  font-family: 'SF Pro Text Semibold', sans-serif;
  color: #fff;
  border: 1px solid var(--color-supporting);
  background-color: var(--color-supporting);
}

.btn--secondary:hover {
  border: 1px solid #3b3b3b;
  background-color: #3b3b3b;
}

.btn--tertiary {
  color: #222;
  border: 1px solid #e1e1e1;
  background-color: #fff;
}

.btn--tertiary:hover {
  background-color: #f6f6f6;
}

.btn--medium {
  padding: 8px 12px 9px;
  min-width: 66px;
  height: 36px;
  font-size: 13px;
  line-height: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  line-height: 0;
  background: no-repeat center url('../assets/close.svg');
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 30;
  background-color: rgba(32, 32, 32, 0.5);
  text-align: center;
}

.modal-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 480px; /* 4 : 3 */
  height: 360px;
  border: none;
  background-color: white;
  overflow: hidden;
  vertical-align: middle;
  text-align: left;
  padding: 32px 40px 24px;
}

.modal-header {
  width: 100%;
  height: 14%;
  font-size: 20px;
  font-weight: bold;
  box-sizing: border-box;
}

.modal-header > p {
  width: 100%;
  height: 100%;
}

.modal-body {
  width: 100%;
  min-height: 74%;
  max-height: 100%;
  overflow: hidden;
}

.modal-body > textarea {
  border-radius: 5px;
  border: solid 1px var(--color-line-04);
}

.modal-body > textarea:disabled {
  border: none;
}

.modal-footer {
  width: 100%;
  height: 12%;
  text-align: center;
}

.modal-body > .new-doc {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  border: dashed 2px var(--color-font-gray);
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  color: var(--color-font-gray);
  background-color: var(--color-ui-gray-background-light);
}

.modal-body > .new-doc:hover {
  background-color: var(--color-ui-gray-background);
}

.modal-body > .doc-list {
  width: 100%;
  max-height: 777px;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  list-style: none;
}

.doc-list > .doc-item {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--color-primary-light3);
}

.doc-list > .doc-item:hover {
  background-color: var(--color-primary-light2);
}

.doc-item > .doc-title {
  width: 350px;
  text-overflow: ellipsis;
  font-weight: 600;
}

.doc-item > .remove-doc {
  padding: 10px;
}

/* Reactive CSS */
@media all and (max-width: 768px) {
  .modal-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60%; /* 4 : 3 */
    height: 45%;
    border: none;
    background-color: var(--color-ui-background);
    overflow: hidden;
    vertical-align: middle;
    text-align: left;
    padding: 32px 40px 24px;
  }
}
