@media all and (min-width: 769px) {
  .notice {
    position: fixed;
    display: flex;
    top: 3em;
    right: 0.5em;
    height: 50px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    color: rgb(48, 48, 48);
    z-index: 30;
  }

  .notice-ico {
    background: no-repeat center url('../assets/noti.svg');
    font-size: 0;
    padding: 20px;
    margin-left: 10px;
  }

  .notice-msg {
    margin: auto 20px auto 8px;
  }
}
/* Reactive CSS */
@media all and (max-width: 768px) {
  .notice {
    position: fixed;
    display: flex;
    width: fit-content;
    height: fit-content;
    max-width: 80%;
    bottom: 3em;
    left: 50%;
    background-color: rgba(72, 72, 72, 0.5);
    color: white;
    border: none;
    border-radius: 2rem;
    box-sizing: border-box;
    transform: translateX(-50%);
    z-index: 1234;
  }

  .notice-ico {
    display: none;
  }

  .notice-msg {
    margin: 1em 2em;
  }
}
