@media all and (min-width: 769px) {
  .notice {
    position: fixed;
    display: flex;
    top: 4rem;
    right: 1rem;
    height: 50px;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 7px 15px;
    box-shadow: 0px 0px 10px 2px var(--color-ui-shadow);
    z-index: 30;
  }

  .notice.info {
    background-color: #a3daff;
  }

  .notice.error {
    background-color: #ff6060;
  }

  .notice.success {
    background-color: #30aa30;
  }

  .notice.history {
    background-color: #03a6ff;
  }

  .notice-ico {
    font-size: 0;
    width: 24px;
    height: 24px;
    margin-right: 1rem;
  }

  .notice-ico.info {
    background: no-repeat center / cover url('../assets/material/info.svg');
  }

  .notice-ico.error {
    background: no-repeat center / cover url('../assets/material/error.svg');
  }

  .notice-ico.success {
    background: no-repeat center / cover url('../assets/material/check.svg');
  }

  .notice-ico.history {
    background: no-repeat center / cover url('../assets/material/history.svg');
  }
}
/* Reactive CSS */
@media all and (max-width: 768px) {
  .notice {
    position: fixed;
    display: flex;
    width: fit-content;
    height: fit-content;
    max-width: 80%;
    bottom: 3em;
    left: 50%;
    background-color: rgba(72, 72, 72, 0.5);
    color: white;
    border: none;
    border-radius: 2rem;
    box-sizing: border-box;
    transform: translateX(-50%);
    z-index: 1234;
  }

  .notice-ico {
    display: none;
  }

  .notice-msg {
    margin: 1em 2em;
  }
}
